page-realtimedata {
  .txt{
    font-family: "Segoe UI", "Noto Sans", sans-serif;
    font-size: 20px;
    color: #222222;
  }
  .card{
    background: #e6e6e6;
    box-shadow: #222222;
  }
  .a{
    background: palevioletred;
  }
}
